@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  -webkit-text-size-adjust: 100%; /* Prevents text resizing in iOS */
  text-size-adjust: 100%; /* Prevents text resizing in other browsers */
  scroll-behavior: smooth;
}

@font-face {
  font-family: "allroundgothic";
  src: url("/fonts/allroundgothic.otf") format("opentype");
}
@font-face {
  font-family: "allroundgothic-medium";
  src: url("/fonts/allroundgothic-medium.otf") format("opentype");
}
@font-face {
  font-family: "allroundgothic-semibold";
  src: url("/fonts/allroundgothic-semibold.otf") format("opentype");
}
@font-face {
  font-family: "allroundgothic-bold";
  src: url("/fonts/allroundgothic-bold.otf") format("opentype");
}
@font-face {
  font-family: "gothic";
  src: url("/fonts/gothic.ttf");
}
@font-face {
  font-family: "gothic-bold";
  src: url("/fonts/gothic-bold.ttf");
}
@font-face {
  font-family: "mont";
  src: url("/fonts/mont.otf") format("opentype");
}
@font-face {
  font-family: "mont-semibold";
  src: url("/fonts/mont-semibold.otf") format("opentype");
}
@font-face {
  font-family: "mont-bold";
  src: url("/fonts/mont-bold.otf") format("opentype");
}

.allroundgothic {
  font-family: "allroundgothic";
}
.allroundgothic-medium {
  font-family: "allroundgothic-medium";
}
.allroundgothic-semibold {
  font-family: "allroundgothic-semibold";
}
.allroundgothic-bold {
  font-family: "allroundgothic-bold";
}
.gothic {
  font-family: "gothic";
}
.gothic-bold {
  font-family: "gothic-bold";
}
.mont {
  font-family: "mont";
}
.mont-semibold {
  font-family: "mont-semibold";
}
.mont-bold {
  font-family: "mont-bold";
}

p {
  font-family: "Poppins", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  
  .allroundgothic-medium {
    font-family: "allroundgothic-semibold";
  }

  p.gothic-bold {
    letter-spacing: 0.25px !important;
  }

  /* p:not(.gothic):not(.gothic-bold):not(.allroundgothic):not(
      .allroundgothic-bold
    ):not(.allroundgothic-medium):not(.allroundgothic-semibold),
  p.mont {
    letter-spacing: 0 !important;
  } */
}

.zigzag-border {
  --mask: conic-gradient(
      from -45deg at bottom,
      #0000,
      #000 1deg 90deg,
      #0000 91deg
    )
    50% / 30px 100%;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  stroke: #000;
  border: 2px solid #000;
}

.carousel {
  position: relative;
  width: 300px;
  height: 200px;
  transform-style: preserve-3d;
  transform: perspective(1100px) rotateY(0deg);
  animation: rotate 20s linear infinite;
}

.carousel_item {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}

.carousel-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes rotate {
  100% {
    transform: perspective(1100px) rotateY(360deg);
  }
}

.video-frame {
  position: "absolute";
  top: 0;
  left: 0;
  width: 100%;
  height: 65vh;
}


@media (max-width: 768px) {
  .video-frame {
    width: 100%;
    height: 35vh;
  }

  .how-it-works--arrow {
    transform: rotate(90deg);
  }

  .bottom-nav{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
}
