@font-face {
  font-family: "allroundgothic";
  src: url("/fonts/allroundgothic.otf") format("opentype");
}
@font-face {
  font-family: "allroundgothic-medium";
  src: url("/fonts/allroundgothic-medium.otf") format("opentype");
}
@font-face {
  font-family: "allroundgothic-semibold";
  src: url("/fonts/allroundgothic-semibold.otf") format("opentype");
}
@font-face {
  font-family: "allroundgothic-bold";
  src: url("/fonts/allroundgothic-bold.otf") format("opentype");
}
@font-face {
  font-family: "gothic";
  src: url("/fonts/gothic.ttf");
}
@font-face {
  font-family: "gothic-bold";
  src: url("/fonts/gothic-bold.ttf");
}
@font-face {
  font-family: "mont";
  src: url("/fonts/mont.otf") format("opentype");
}
@font-face {
  font-family: "mont-semibold";
  src: url("/fonts/mont-semibold.otf") format("opentype");
}
@font-face {
  font-family: "mont-bold";
  src: url("/fonts/mont-bold.otf") format("opentype");
}

.allroundgothic {
  font-family: "allroundgothic";
}
.allroundgothic-medium {
  font-family: "allroundgothic-medium";
}
.allroundgothic-semibold {
  font-family: "allroundgothic-semibold";
}
.allroundgothic-bold {
  font-family: "allroundgothic-bold";
}
.gothic {
  font-family: "gothic";
}
.gothic-bold {
  font-family: "gothic-bold";
}
.mont {
  font-family: "mont";
}
.mont-semibold {
  font-family: "mont-semibold";
}
.mont-bold {
  font-family: "mont-bold";
}

p {
  font-family: "mont";
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.zigzag-border {
  --mask: conic-gradient(
      from -45deg at bottom,
      #0000,
      #000 1deg 90deg,
      #0000 91deg
    )
    50% / 30px 100%;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  stroke: #000;
  border: 2px solid #000;
}

.carousel {
  position: relative;
  width: 300px;
  height: 200px;
  transform-style: preserve-3d;
  transform: perspective(1100px) rotateY(0deg);
  animation: rotate 20s linear infinite;
}

.carousel_item {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}

.carousel-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes rotate {
  100% {
    transform: perspective(1100px) rotateY(360deg);
  }
}

.video-frame{
  position: "absolute";
  top: 0;
  left: 0;
  width: 100%;
  height: 65vh;
}

@media (max-width: 768px) {
  .video-frame{
    width: 100%;
    height: 35vh;
  }
}