.zigzag-border {
  --mask: conic-gradient(
      from -45deg at bottom,
      #0000,
      #000 1deg 90deg,
      #0000 91deg
    )
    50% / 30px 100%;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
